.nav__a {
    text-decoration: none;
    color: var(--gray);
    display: flex;
    flex-direction: column;
    justify-items: center;
    justify-content: space-around;
    align-items: center;
}
.footer {
    margin-top: 6rem;
}
.nav {
    position: fixed;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: #fff;
    padding: 1rem;
    border: none;
    border-radius: 20px 20px 0 0;
    display: grid;
    grid-template-areas: 
    'iconconsultas iconclientes iconrelatorios iconmenu'
    'consulta clientes relatorios menu'
    ;
}
.img_consultas {
    grid-area: iconconsultas;
}
.img_clientes {
    grid-area: iconclientes;
}
.img_relatorios {
    grid-area: iconrelatorios;
}
.img_menu {
    grid-area: iconmenu;
}
.nav__consultas {
    grid-area: consulta;
}
.nav__clientes {
    grid-area: clientes;
}
.nav__relatorios {
    grid-area: relatorios;
}
.nav__menu {
    grid-area: menu;
}
/*  */
.nav__img {
    height: 30%;
    filter: grayscale(200%) opacity(0.4) drop-shadow(0 0 0 var(--gray));

}
.img_menu {
    height: 33%;
}